<div class="container">
  <h3>Профиль пользователя</h3>
  <hr>
  <div class="row mt-4 p-3">
    <div class="col-2">
      <div class="btn-group-vertical btn-group-lg" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-secondary" routerLink="/profile/user-profile">Профиль пользователя</button>

        <button type="button" class="btn btn-outline-secondary" routerLink="/profile/appointments/appointment-list">Запись на услугу</button>

        <button type="button" class="btn btn-outline-secondary" routerLink="/profile/appointments-history">История услуг</button>

        <button type="button" class="btn btn-outline-secondary" (click)="authService.logOut()">Выйти</button>
      </div>
    </div>
    <div class="col-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
