input.ng-invalid.ng-touched {
  border: 2px solid red;
}

.invalid {
  border: 2px solid red;
}

label {
  font-size: 20px;
}

input {
  font-size: 14px;
}

#gender {
  margin-left: 10px;
}

.update-form-control {
  margin-left: 10px;
  width: 220px;
}

input:focus, button:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
