<header class="p-3 bg-dark text-white sticky-top">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a routerLink="/home" class="mx-1">
        <img src="../assets/image/logov1_300x50.png" height="40" title="Vet Clinic logo">
      </a>

      <ul class="nav col-12 col-sm-1 col-lg-auto me-lg-auto mb-2 sm-1 justify-content-center mb-md-0 font-sized">
        <li role="presentation"><a routerLink="/home" routerLinkActive="activeClass" class="nav-link px-2 text-white mx-2">Главная</a></li>
        <li role="presentation"><a routerLink="/medical-services" routerLinkActive="activeClass" class="nav-link px-2 text-white mx-2">Услуги</a></li>
        <li role="presentation"><a routerLink="/contacts" routerLinkActive="activeClass" class="nav-link px-2 text-white mx-2">Контакты</a></li>
        <li role="presentation"><a routerLink="/about-us" routerLinkActive="activeClass" class="nav-link px-2 text-white mx-2">О нас</a></li>
      </ul>

      <div class="text-end">
        <div *ngIf="!authService.isLoggedIn">
          <button routerLink="/login" type="button" class="btn btn-outline-light me-2">Войти</button>
          <button routerLink="/register" type="button" class="btn btn-warning">Регистрация</button>
        </div>
        <div *ngIf="authService.isLoggedIn">
          <button type="button" class="btn btn-outline-success me-2" routerLink="/profile/user-profile">
            <img src="../assets/image/user.png" style="width: 15px; height: 15px; margin-right: 10px;">Профиль
          </button>
          <button type="button" class="btn btn-outline-danger" (click)="onLogOut()">Выйти</button>
        </div>
      </div>
    </div>
  </div>
</header>
