hr {
  margin-bottom: 40px;
}

h3 {
  margin-top: 20px;
}

.login-form {
  padding: 30px;
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

input:focus, button:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.password-reset-link {
  margin-right: 20px;
}

.invalid {
  border: 2px solid red;
}
