<div class="container">
  <h3>Вход в систему Vet Clinic</h3>
  <hr>
  <div class="row">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="col-4 offset-4 border border-3 border-dark rounded-3">
      <div class="form-text text-danger mb-3">Электронная почта или пароль указаны не верно!</div>

      <div class="mb-3">
        <label for="email" class="form-label">Электронная почта</label>
        <input type="email" class="form-control" id="email" ngModel name="email" #email='ngModel' required email>
        <div class="form-text text-danger" *ngIf="!email.valid && email.touched">
          Не верный формат электронной почты!
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="password" ngModel name="password" #password='ngModel' required
               minlength="8">
        <div class="form-text text-danger" *ngIf="!password.valid && password.touched">
          Длина пароля не может быть менее 8 символов!
        </div>
      </div>

      <div class="text-end" style="margin-top: 45px;">
        <a href="#" class="link-secondary password-reset-link">Забыли пароль?</a>
        <button type="button" class="btn btn-danger" style="margin-right: 2px;" routerLink="/register">
          Регистрация
        </button>
        <button type="submit" class="btn btn-success">Войти</button>
      </div>
    </form>
  </div>
</div>
