<div class="container">
  <h3>Услуги клиники Vet Clinic</h3>
  <hr>
  <div class="input-group mb-3 rounded-pill p-1 search-div">
    <input #searchBar type="search" placeholder="Введите название услуги" class="form-control bg-none border-0"
           (input)="onInput()">
  </div>
  <div class="container cards mx-2" *ngIf="isFetched">
    <div class="row">
      <app-medical-service-card class="card cardd mx-3 my-3 scale"
        *ngFor="let medicalService of filteredMedicalServices"
        [medicalService]="medicalService"
        (click)="onCardClick(content)"
      >
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" style="margin-left: 10px">{{ medicalService.name }}</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <h5>Описание услуги:</h5>
              <p>{{ medicalService.longDescription }}</p>
              <h5>Цены:</h5>
              <div *ngFor="let medicalServicePrice of medicalService.medicalServicePrices" style="margin-bottom: 0px;">
                <img src="{{ petType[medicalServicePrice.petType] }}"
                     style="width: 30px; height: 30px;"> {{ medicalServicePrice.price }}р.
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button *ngIf="authService.isLoggedIn" type="button" class="btn btn-light">Записаться</button>
            <div *ngIf="!authService.isLoggedIn">
              <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </symbol>
                <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path
                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </symbol>
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path
                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </symbol>
              </svg>
              <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                  <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <div>Для записи на услугу нужно войти или зарегистрироваться!</div>
              </div>
              <button type="button" class="btn btn-outline-success" style="height: 55px; width: 110px;">Войти</button>
              <button type="button" class="btn btn-outline-danger" style="height: 55px; width: 130px;">Регистрация</button>
            </div>
          </div>
        </ng-template>
      </app-medical-service-card>
    </div>
    <div *ngIf="filteredMedicalServices.length < 1" style="margin-bottom: 270px">
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
          <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
      </svg>
      <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
          <use xlink:href="#exclamation-triangle-fill"/>
        </svg>
        <div>Ни одной услуги по данному критерию не найдено!</div>
      </div>
    </div>
  </div>
</div>
<div class="container d-flex justify-content-center" *ngIf="!isFetched" style="padding-top: 80px;">
  <h1>Загрузка...</h1>
</div>
<div class="container d-flex justify-content-center" *ngIf="!isFetched" style="padding-top: 20px;margin-bottom: 147px">
  <div class="lds-ring" style="margin-left: -105px">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

